.jumbotron {
    margin-top: 20px;
}

body {
    padding-top: 40px;
    padding-bottom: 70px;
}

/*************************************
    Highlight nav for current page
**************************************/
.active {
    background: #3c749a;
}


/*********************************************
    Custom Nav (overwrite Bootstrap styles)
**********************************************/
nav ul {
    float: right;
    margin: 0 35px 0 0;
}

    nav ul li {
        display: inline-block;
        padding: 5px;
    }

    nav ul.dropdown-menu li a:hover {
        background: #3c749a;
    }

    nav.navbar-default.navbar-fixed-top ul.dropdown-menu li.active a{
        background: #3c749a;
    }

nav.navbar-default.navbar-fixed-top ul li a {
    font-weight: bold;
    color: #fff;
    border: 5px solid rgba(0,0,0,0);
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

nav.navbar-default.navbar-fixed-top ul li:hover {
    background: #3c749a;
}

nav.navbar-default.navbar-fixed-top ul li a:hover {
    background: #3c749a;
}

nav ul.dropdown-menu {
    background-color: #2c3e50;
    margin: 0;
    padding: 0;
}

    nav ul.dropdown-menu li {
        width: 100%;
    }

nav a.pull-right {
    font-weight: bold;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 1.5em;
    display: none;
}

@media screen and (max-width: 850px) {
    nav ul#nav-list {
        display: none;
    }
    nav a.pull-right {
        display: inline-block;
    }
    nav ul#nav-list.expanded {
        float: none;
        clear: both;
        display: block;
    }
    nav ul#nav-list.expanded li {
        display: block;
    }
    nav ul#nav-list.expanded li a {
        display: block;
        text-align: center;
        font-size: 1em;
    }
    nav li.dropdown ul.dropdown-menu {
        width: 50%;
        float: none;
        margin: auto;
        position: static;
    }

    .thumb {
        cursor: pointer;
    }

    #lightbox-container {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .8);
        text-align: center;
        padding-top: 65px;
        display: none;
    }

    #lightbox-container p {
        color:#fff;
    }

    #lightbox-content img {
        border: 10px solid gray;
        margin: auto;
    }

}

/* Contact form Validation css */
.invalid {
    color: red;
    font-style: italic;
}